@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&family=Syne:wght@400..800&family=Michroma&family=Archivo:wdth,wght@62.5..125,100..900&family=Inter:wght@100..900&display=swap');

.header{
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 1rem;
}

.header-text{
  display: flex;
  align-items: center;
color: hsl(70, 80%, 80%);
background-color: hsl(162, 50%, 15%);
  font-family:'Unbounded', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  opacity: 1;
}




.home-cart-parent{
  display: flex;
  justify-content: center;
   margin-top: 0vh;
   gap: 0.8rem;
   opacity: 1;
}

.home-cart{
background-color: hsl(162, 50%, 15%);
  height: 23vh;
  width: 73%;
  border-radius: 0.3rem;
}

.balance{
  padding: 0.5rem ;
  padding-top: 0rem;
  color: hsl(70, 80%, 80%);
    font-family:'Unbounded', sans-serif;
  font-size: 3.3rem;
letter-spacing: -1px;
  font-weight:900; 
  opacity: 1;
}

.name-cart{
  color: hsl(70, 80%, 80%);
  font-family:'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0;
  padding: 0.1rem;
}
.balance-text{
  color: hsl(70, 80%, 80%);
    font-family:'Unbounded', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
  padding-left:0.5rem;
}
.number-cart{
  color: hsl(70, 80%, 80%);
  font-family:'Unbounded', sans-serif;

  font-size: 0.9rem;
  font-weight: 600;
  opacity: .9;
  text-align: center;
}
.cart-id{
  margin-top: 0.1rem;
  text-align: center;
  color: hsl(70, 80%, 80%);
  font-family:'Unbounded', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.8;
}



/* Эта обертка больше не будет ломать верстку */
.not-cart {
  
  gap:0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Распределит блоки ровно по высоте 17.5vh */
  width: 15%; /* ВОТ ИСПРАВЛЕНИЕ: было 100% */
}

/* Большой фиолетовый */
.cart-nwc {
  border-radius: 0.3rem;
  width: 100%; /* Занимает всю ширину обертки .not-cart */
  height: 15.5vh;
  background-color: hsl(70, 80%, 80%);
}

/* Кнопка с плюсом */
.create-cart {
  
   border-radius: 0.3rem;
  display: flex;
  justify-content: center; 
  align-items: center;     
  width: 100%;
  height: 6.5vh;
  background-color: hsl(162, 50%, 15%);

}

.create-cart svg {
stroke: #e0ffc2;
 width: 5vh;
  height: 5vh;
}

body {
     /* background-image: url('/bgv2.jpg') ;
 background-size: 110rem;
 background-position: center;
background-repeat: no-repeat; */
background-color: black;
}

* {
  
  margin: 0;
    -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; 
  -ms-user-select: none;     
  user-select: none; 
  
}