@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Montserrat:wght@900&family=Syncopate:wght@700&display=swap');


.Karta-home-div {
  display: flex;
    /* align-items: center; */

    z-index: 0;  
 /* border-radius: 2rem ; */
 overflow-x: auto ;
 overflow-y: hidden ;
  max-height: 17rem;
 max-width: 100rem;
 padding-bottom: 0.6rem;
 padding-top: 3.1rem;
 margin-bottom: -0rem;
 z-index: 0;
 /* margin-top: 0rem;  DENGER!!!!!!!!!!!!!!!!!!!!!*/
 
 /* background-size: cover;
 background-position: center;
background-repeat: no-repeat;
position: relative; */
opacity: 1;
overflow-x:auto;
scroll-snap-type: x mandatory;
gap: 20px;
scrollbar-width: none;
scroll-behavior: smooth;
z-index: 10;
/*  
background: 
  linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.02) 40%, transparent 60%); */
/* 
  linear-gradient(115deg, transparent 20%, rgba(255, 255, 255, 0.08) 20.5%, transparent 21%),
  linear-gradient(200deg, transparent 55%, rgba(255, 255, 255, 0.06) 55.5%, transparent 56%),
  
  linear-gradient(45deg, transparent 40%, rgba(255, 255, 255, 0.05) 40.5%, transparent 41%),
  linear-gradient(300deg, transparent 75%, rgba(255, 255, 255, 0.07) 75.5%, transparent 76%),
  linear-gradient(160deg, transparent 10%, rgba(255, 255, 255, 0.04) 10.5%, transparent 11%),
   */
  /* linear-gradient(80deg, transparent 30%, rgba(255, 255, 255, 0.03) 30.3%, transparent 30.6%),
  linear-gradient(240deg, transparent 60%, rgba(255, 255, 255, 0.03) 60.3%, transparent 60.6%),
  linear-gradient(340deg, transparent 85%, rgba(255, 255, 255, 0.04) 85.3%, transparent 85.6%),
  linear-gradient(15deg, transparent 50%, rgba(255, 255, 255, 0.02) 50.3%, transparent 50.6%), */

  /* radial-gradient(circle at top left, #2b2b2b 0%, #000000 100%); */

/* Добавляем зеркальную рамку и тени для объема */
/* box-shadow: 
  inset 0 1px 1px rgba(255, 255, 255, 0.5), 
  inset 0 -2px 10px rgba(0, 0, 0, 1),    
  0 20px 40px -10px rgba(0, 0, 0, 0.8);  
/* 

border: 1px solid rgba(255, 255, 255, 0.5);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
filter: blur(0px); */
}


.Karta-home-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
  height: 0;
  width: 0;
}

.About-start-text{
  color: #ffffff;
  background-image: url('/bg.jpg') ;
 background-size: cover;
 background-position: center;
background-repeat: no-repeat;
}

.Karta-home-button-h5 {
text-align: center;
color: #ffffff;
opacity: 0;
pointer-events: none;
}

.Karta-home-button-balance{
  opacity: 1;
/* -webkit-text-stroke: 1px #ffffff; */
color: #ffffffe1;
text-shadow: 0px 0px 30px rgb(201, 201, 201);
pointer-events: none;
letter-spacing: -1px;


}
.Karta-home-button-h1{
  display: flex;
  opacity: 1;
align-items: center;
justify-self: center;
white-space: nowrap;
/* opacity: 0; */
font-weight: 800;
font-size: 3.7rem;
pointer-events: none;
}


.Karta-home-button-span {
text-align: end ;
color: transparent;
paint-order: stroke fill;
stroke-linejoin: round;
opacity: 0;
font-weight: 800;
font-size: 7rem;
margin-left: auto;
-webkit-text-stroke: 1px #ffffff;
display: none;
/* -webkit-background-clip: text;
background-clip: text; */
text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.8);
}

.Karta-home-button-1:hover, .Karta-home-button-2:hover, .Karta-home-button-3:hover {
box-shadow: 
0px 0px 10px rgb(255, 255, 255, 0.5),
  inset 0 0px 15px rgba(255, 255, 255, 0.3);
transform: translateY(-3px);
}


.Karta-home-button-3{
  margin-right: 1rem;
}
.Karta-home-button-1{
  margin-left: 1rem;
} 
 
/* .Karta-home-button-1, .Karta-home-button-2, .Karta-home-button-3 {
  
  transition: transform 0.3s ease, opacity 0.3s ease;

  transform: scale(0.9);
  opacity: 0.6 !important;
} */
/* 
.Karta-home-button-1.active, .Karta-home-button-2.active, .Karta-home-button-3.active  {
  transform: scale(1);
  opacity: 1 !important;
} */
.karta-lend-parent-1, .karta-lend-parent-2, .karta-lend-parent-3 {
 opacity: 0;
  pointer-events: none;
width: 100%;
height: 65%;
background-color: #565656;
border-top: 3px solid #000000;
box-shadow: 0px -500px 1px #00000062;
position: absolute;
top: 35%;
z-index: 9;
border-top-left-radius: 2rem;
border-top-right-radius: 2rem;
}


.Karta-home-button-1, .Karta-home-button-2, .Karta-home-button-3 {
   /* text-align: start; */
   scroll-snap-align:center ;
   flex-shrink: 0;
position: relative;
transition: transform 0.5s ease;
width: 85%;
height: 11rem;
text-decoration: none;
 font-family: 'Inter', sans-serif;
 -webkit-font-smoothing: antialiased;
border-radius: 15px;
overflow: hidden;

margin-bottom: 0rem;
margin-top: 1rem;

   /* background-image: url('/bg.jpg') ; */
   background: rgba(255, 255, 255, 0.1);
 background-size: cover;
 background-position: center;
background-repeat: no-repeat;
z-index: 3;
/* Добавляем зеркальную рамку и тени для объема */
box-shadow: 
0px 0px 10px rgb(255, 255, 255, 0.5),
  inset 0 0px 15px rgba(255, 255, 255, 0.3);   /* Глубина внутри */
  /* 0 2px 4px 1px rgba(0, 0, 0, 0.8);     Тень под картой */
border: 1px solid rgba(255, 255, 255, 0.6);
/* background-image: 
  linear-gradient(135deg, rgba(255,255,255,0.05) 25%, transparent 25%), 
  linear-gradient(225deg, rgba(255,255,255,0.05) 25%, transparent 25%), 
  linear-gradient(45deg, rgba(255,255,255,0.05) 25%, transparent 25%), 
  linear-gradient(315deg, rgba(255,255,255,0.05) 25%, transparent 25%),
  linear-gradient(135deg, #2a2a2a 0%, #1a1a1a 100%);
background-size: 4px 4px, 4px 4px, 4px 4px, 4px 4px, 100% 100%; */

opacity: 1;
}

.sidebar {
  position: relative; /* Создаем систему координат для слоев */
  overflow: hidden;   /* Чтобы размытые края фона не вылезали за границы */
  border-radius: 1.2rem;
  margin-top: -2rem;

}

.sidebar-background {
  position: absolute; /* Растягиваем фон на весь родитель */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px); 
  transform: scale(1.1); 
  z-index: 1;
}

/* Контейнер для центровки на странице */
.home-activ-goal-parent {
  display: flex;
  justify-content: center;
  width: 100%;

}
.home-activ-goal:hover {
box-shadow: 
0px 0px 15px rgb(255, 255, 255, 0.6),
  inset 0 1px 1px rgba(255, 255, 255, 0.5), 
  inset 0 -2px 10px rgba(0, 0, 0, 1);
transform: translateY(-2px);
}
/* Синяя карточка */
.home-activ-goal {
  display: flex;
  justify-content: space-between; /* Текст слева, кнопка справа */
  align-items: center;            /* Ровно по центру по вертикали */
  transition: transform 0.4s ease;
  width: 90%;
  max-width: 95rem;
  min-height: 7.5rem;
  margin-top: 2rem;
  padding: 0 1.5rem;
       /* background-color: #161618;  */
     /* background-color: #1c1c1c;     */
  background-color: #000000;
  border-radius: 1rem;
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05); */
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.3);
}

/* Группа текста */
.home-goal-text {
  display: flex;
  flex-direction: column;
}

.home-goal-text-h1 {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  margin: 0;
pointer-events: none;
}

.home-goal-text-h3 {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  opacity: 0.7;
  margin: 0;
pointer-events: none;
}
.home-goal-plus-btn:hover {
box-shadow: 
0px 0px 15px rgb(255, 255, 255, 0.6),
  inset 0 1px 1px rgba(255, 255, 255, 0.5), 
  inset 0 -2px 10px rgba(0, 0, 0, 1);
transform: translateY(-2px);
}
/* Кнопка-контейнер для плюса */
.home-goal-plus-btn {
  transition: transform 0.4s ease;
  position: relative;
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 0.8rem;
  overflow: hidden; /* Чтобы блюр не вылезал */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #FFFFFF;
   box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.4);
}

/* Размытый фон внутри кнопки */
.home-goal-plus-bg {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  transform: scale(1.2); /* Убираем белые края блюра */
  z-index: 1;
}

/* Сам SVG поверх фона */
.home-goal-plus-svg {
  position: relative;
  z-index: 2;
  width: 3rem;
  height: 3rem;
}


.home-text-mr-parent{
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
  font-size: 0.45rem;
  font-weight: 900;
  margin-top: 1.7rem;
  opacity: 1;
pointer-events: none;

}

.goal-lend-parent {
  opacity: 0;
  pointer-events: none;
width: 100%;
height: 66%;
background-color: #000000;
border-top: 3px solid #1f1f1f;
box-shadow: 0px -500px 1px #0000006c;
position: absolute;
top: 34%;
overflow: hidden;
z-index: 9;
/* border-top-left-radius: 2rem;
border-top-right-radius: 2rem; */
}

.start-goal-lend {
  color: #ffffff;
  text-align: center;
  padding: 1px 0px 0px 0px;
   color: #ffffffc2;
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  text-shadow: 0px 0px 10px #ffffffae;
  font-weight: 900;
  opacity: 0;
}

.home-lend-goal-svg{
  color: #ffffff;
  height: 7rem;
  width: 7rem;
 position: relative;
 inset: 0;
 margin: auto;
 
}

.home-activ-goal-final-parent{
  justify-content: center;
  width: 100%;
display: none;
}

.home-activ-goal-final:hover {
box-shadow: 
0px 0px 15px rgb(255, 255, 255, 0.6),
  inset 0 1px 1px rgba(255, 255, 255, 0.5), 
  inset 0 -2px 10px rgba(0, 0, 0, 1);
transform: translateY(-2px);
}

.home-activ-goal-final{
display: flex ;
  justify-content: space-between; /* Текст слева, кнопка справа */
  align-items: center;            /* Ровно по центру по вертикали */
  transition: transform 0.4s ease;
  width: 90%;
  max-width: 95rem;
  min-height: 7.5rem;
  margin-top: 2rem;
  padding: 0 1rem;
       /* background-color: #161618;  */
     /* background-color: #1c1c1c;     */
  background-color: #000000;
  border-radius: 1rem;
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05); */
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.3);
}


.home-goal-text-final{
   display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-left: 1rem;
white-space: nowrap;
overflow: hidden;
}

.home-active-goal-name-final {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
pointer-events: none;
}


.home-active-goal-dollars-final span{
  color: #00e9bac4;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: 0rem;
} 

.info-goal-final-parent {
opacity: 0;
  pointer-events: none;
width: 100%;
height: 66%;
background-color: #565656;
border-top: 3px solid #000000;
box-shadow: 0px -5px 1px #00000062;
position: absolute;
top: 34%; 
/* DEBGERRR!!!!!!!!!! */
z-index: 9;
border-top-left-radius: 2rem;
border-top-right-radius: 2rem;
}

.home-active-goal-dollars-final{
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  opacity: 0.7;
  margin: 0;
pointer-events: none;
} 

.home-active-goal-photo{
  transition: transform 0.4s ease;
  position: relative;
  width: 7rem;
  height: 6rem;
  border: none;
  background-position: center;
  border-radius: 0.8rem;
  overflow: hidden; /* Чтобы блюр не вылезал */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* border: 1px solid transparent; */
   box-shadow: 0px 0px 15px transparent;
  }

.file-wrapper {
 width: 10rem;
  height: 12rem;
flex-shrink: 0;
  display: flex;
  /* align-items: center;
  justify-content: center; */
aspect-ratio: 1 / 1 ;
  cursor: pointer;
  overflow: hidden;
border: 2px solid #ffffff;
border-left:none;

}




.file-wrapper img {
 width: 10rem;
  height: 12rem;
  object-fit: cover;
  opacity: 1 !important;
}

.home-input {
 width: 100%;
  height: 12rem;
overflow: hidden;
  display: flex;
  margin-top: 1rem;
border-top: 2px solid #ffffff;
border-bottom: 2px solid #ffffff;
opacity: 0.8;
}


.dollar-input::placeholder, .name-input::placeholder {
color: rgba(255, 255, 255, 0.4) ;
}

.home-input-dollar-emj{
  opacity: 1;
    position: absolute;
  right: 10px;
  top: 50%;
  font-size: 2.5rem;
     color: #ffffff;
  font-family: 'Inter', sans-serif;
  transform: translateY(-50%);
}

.photo-input {
  width: 10rem;
  height: 12rem;
  background: transparent;
  flex-shrink: 0;
}


.home-input-div-parent{
  width: 100%;
}

.name-input {
 flex: 1;
 height: 6rem;
width: 100%;
 background-color: transparent;
outline: none;
border: 2px solid #ffffff;
 color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
border-right: none ;
padding-left: 0.5rem;
  font-weight: 900;
}

.dollar-input-div{
  position: relative;
}

.dollar-input {
flex: 1;
width: 100%;
height: 6rem;
outline: none;
 background-color: transparent;
border: 2px solid #ffffff;
border-right: none ;
 color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
padding-left: 0.5rem;

  font-weight: 900;
}

.dollars {
  display: flex;
 column-gap: 7%;
 row-gap: 7px;
  flex-wrap: wrap;
white-space: normal;
  justify-content: center; 
  margin-top: 1.5rem;
}
.dollar-more {
width: 3rem;
height: 2rem;
} 

.line-break{
flex-basis: 100%;
height: 0;
}


.dollar{
width: 4rem;
height: 2.5rem;
font-family: "inter", sans-serif;
color: #ffffffe7;
/* border: 1px solid #d5d5d5b5; */
border-radius: 0.4rem;
/* box-shadow: 0px 0px 10px #ffffff6b; */
/* background: linear-gradient(135deg, #121212cd, #1c1c1cb5); */
transition: transform 0.6s ease;
opacity: 0.9;
outline: none;
border: none;
}

.dollar:hover{
/* border: 2px solid #ffffff; */
/* box-shadow: 3px 3px 10px  #ffffffdc; */
transform: translateY(-2px);
/* background: linear-gradient(135deg, #044a63cd, #046947b5); */
} 
.dollar-more{
  
width: 3.5rem;
height: 2rem;
font-family: "inter", sans-serif;
color: #ffffffe7;
/* border: 1px solid #d5d5d5b5; */
outline: none;
border: none;
border-radius: 0.4rem;
/* box-shadow: 0px 0px 10px #ffffff24; */
background: #1b1a1a;
transition: transform 0.6s ease;
opacity: 1;
}
.dollar-more:hover{
  /* box-shadow: 0px 0px 15px  #ffffff81; */
transform: translateY(-2px);
}

.end-goal-lend{
  justify-content: center; 
  width: 85%;
  height: 3.3rem;
  align-items: center;
  font-family: "Inter", sans-serif;
color: #ffffffe7;
font-size: 1.1rem;
border: none;
outline: none;
border-radius: 0.5rem;
box-shadow: 0px 0px 30px #ffffff17;
background: #1b1a1a;
transition: transform 0.6s ease;
}

.end-goal-lend:hover{
transform: translateY(-3px);
}


.end-goal-lend-parent{
  display: flex;
  justify-content: center; 
margin-top: 1rem;
}

.home-activ-history-parent {
  display: flex;
  justify-content: center;
  width: 100%;
}





.home-history-content-div {
  width: 100%;
  border: 1px solid #ffffff;


  margin-top: 2rem;
  z-index: 0;
  position: absolute;
}

.home-history-content-div {
  display: flex;
  flex-direction: column;
gap: 10px;
}

.home-history-content {
border: 1px solid #201e1e;
height: 4.5rem;
z-index: 0;

}

.home-history-text{
  color: #ffffff;
white-space: nowrap;
}

.home-history-name{
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
}

.home-history-price{
  color: #ff0000;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
}
/* 
.hauhwgsiws{
  background-image: url('/bg.jpg');
width: 3rem;
height: 3rem;
display: inline;
}
 */



/* карточка */
.home-activ-history {
  display: flex; 
  align-items: center;        
  width: 90%;
  max-width: 95rem;
  min-height: 7rem;
  margin-top: -0.5rem;
  padding: 0.9rem 0.5rem;
  
  background-color: #000000;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffffdd;
  /* box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.3); */
     transition: transform 0.4s ease;
}

.home-activ-history:hover{
   transform: translateY(-3px); 
}

/* Группа текста (контейнер) */
.home-history-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
  max-height: 6.5rem;
  /* ВАЖНО: Растягиваем контейнер на всю ширину, чтобы цене было куда двигаться */
  width: 100%; 
  margin-right: 0rem; 
pointer-events: none;
}

/* Строка с заголовком, иконкой и ценой */
.home-history-text-h1 {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  margin: 0;
  
  /* ВАЖНО: Включаем Flexbox для одной строки */
  display: flex;
  align-items: center; /* Центрируем всё по вертикали */
  width: 100%;
}

.home-history-st-svg{
  width: 2.5rem;
  transform: rotate(180deg);
}

/* Цена (7.500$) */
.home-history-text-span {
  text-align: right;
  position: relative;
  /* Цвет и шрифт наследуются от h1, но можно задать свои */
  white-space: nowrap; /* Чтобы цена не переносилась */
}

.home-history-text-graf-grandparent{
display: inline;
}

.home-history-text-graf-parent {
  height: 0.6rem;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  width: 100%;
  max-width: 95rem;
   /* Чуть отделим полоску от текста */ 
   margin-top: 0.3rem;
 
  }

.home-history-text-graf {
  margin: 0;
  background: linear-gradient(135deg, #0e7481, #0a8132);
  height: 100%; /* Пусть заполняет родителя по высоте */
  width: 75%;
  border-radius: 1rem;
  background-size: 200% 200%;
   animation: homeHistoryGraf 2s ease infinite;
}

.home-history-text-span{
   margin-left: auto;
}

.home-history-text-span-pr{
  background: linear-gradient(135deg,#01571e, #055d54);
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  font-weight: 900;
  border-radius: 0.2rem;
  border: 1px solid rgba(12, 118, 137, 0.7);
}





.home-out-activ-history-parent {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* карточка */
.home-out-activ-history {
  display: flex; 
  align-items: center;        
  width: 90%;
  max-width: 95rem;
  min-height: 7rem;
  margin-top: 1rem;
  padding: 0.9rem 0.5rem;
  
  background-color: #000000;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffffdd;
  /* box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.3); */
   transition: transform 0.4s ease;
}



/* Группа текста (контейнер) */
.home-out-history-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
  max-height: 6.5rem;
  /* ВАЖНО: Растягиваем контейнер на всю ширину, чтобы цене было куда двигаться */
  width: 100%; 
  margin-right: 0rem; /* Небольшой отступ от круглой кнопки справа, если она есть */
}

/* Строка с заголовком, иконкой и ценой */
.home-out-history-text-h1 {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  margin: 0;
  
  /* ВАЖНО: Включаем Flexbox для одной строки */
  display: flex;
  align-items: center; /* Центрируем всё по вертикали */
  width: 100%;
}

.home-out-history-st-svg{
  width: 2.5rem;
}

/* Цена (7.500$) */
.home-out-history-text-span {
  text-align: right;
  position: relative;
  /* Цвет и шрифт наследуются от h1, но можно задать свои */
  white-space: nowrap; /* Чтобы цена не переносилась */
}

.home-out-history-text-graf-grandparent{
display: inline;
}

.home-out-history-text-graf-parent {
  height: 0.6rem;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  width: 100%;
  max-width: 95rem;
   /* Чуть отделим полоску от текста */ 
   margin-top: 0.3rem;
 
  }

.home-out-history-text-graf {
  margin: 0;
  background: linear-gradient(135deg, #0e7481, #0a8132);
  height: 100%; /* Пусть заполняет родителя по высоте */
  width: 25%;
  border-radius: 1rem;
  background-size: 200% 200%;
  animation: homeHistoryGraf 2s ease infinite;
}

.home-out-activ-history:hover{
   transform: translateY(-3px); 
}


@keyframes homeHistoryGraf {
  0%{
    background-position: 0% 50%;
  }
   50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}


.home-out-history-text-span{
   margin-left: auto;
}

.home-out-history-text-span-pr{
  background: linear-gradient(135deg,#01571e, #055d54);
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  font-weight: 900;
  border-radius: 0.2rem;
  border: 1px solid rgba(12, 118, 137, 0.7);
}



.lend-wallet{
opacity: 1;
 color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  font-weight: 900;
   transition: transform 0.4s ease;
}
.lend-wallet:hover{
   transform: translateY(-3px); 
  }

.lend-portfolio{
 color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
opacity: 1;
 margin-top: 0.5rem;
 transition: transform 0.4s ease;
}
.lend-portfolio:hover{
   transform: translateY(-3px); 
  }

.lend-seting{
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  opacity: 1;
  font-size: 1.8rem;
   margin-top: 0.5rem;
   transition: transform 0.4s ease;
}
.lend-seting:hover{
   transform: translateY(-3px); 
  }

.lend{  
  opacity: 1;
  display: flex;
   font-size: 1.8rem;
  justify-content: space-around;
  flex-direction: row;
padding-top: 0.8rem ;
padding-bottom: 0.2rem;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.692);
gap: 1rem;
/* box-shadow: 
    0px 0px  15px rgb(255, 255, 255, 0.5),
  inset 0 1px 1px rgba(255, 255, 255, 0.5), 
  inset 0 -2px 10px rgba(0, 0, 0, 1),  
  0 20px 40px -10px rgba(0, 0, 0, 0.8); */

/* 
background:
  linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.02) 40%, transparent 60%),
 radial-gradient(circle at top left, #2b2b2b 0%, #000000 100%);
 border: 1px solid rgb(255, 255, 255, 0.9) ;
  */
  /* background-color: #000000 ; */
  background-color: #000000;

  z-index: 6;
}


.lend-div{
   display: flex;
position: fixed;
   /* align-items: start; */
 justify-content: space-around;
 flex: 1;
 z-index: 4;  
 height: 100%;
margin-top: 80%;
padding-top: 0rem;
  background-color: #000000;
padding-bottom: 1rem;
width: 100%;
  max-width: 100rem; 
  max-height: 7rem;
  border-top-left-radius: 1.8rem;
border-top-right-radius: 1.8rem;
  border-top: 1px solid rgb(255, 255, 255, 0.2) ;
  box-shadow: 0px 0px 300px #060606;
}

.crypto-karta-parent{
    display: flex;
  justify-content: center;
  width: 100%;
}

.crypto-karta{
  display: flex; 
  align-items: center;        
  width: 85%;
  max-width: 95rem;
  min-height: 7rem;
  margin-top: 1.5rem;
  padding: 1.1rem 0.3rem;
  
  background-color: #000000;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffffdd;
  /* box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.3); */
     transition: transform 0.4s ease;
}

.crypto-karta:hover{
   transform: translateY(-3px); 
}
.crypto-karta-h1{
  color: #ffffff;
text-align: start;
font-size: 1rem;
margin-top: -1rem;
 font-family: 'Inter', sans-serif;
 opacity: 0.3;
}
.crypto-karta-svg{
fill: transparent;
stroke: #FFFFFF;

margin-bottom: -0.15rem;
}

.crypto-karta-text{
 display: flex;
  flex-direction: column;
  z-index: 0;
  max-height: 6.5rem;
  width: 100%; 
pointer-events: none;
}

.crypto-karta-text-h1{
   color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
 
  width: 100%;
  text-shadow:
2px 2px 50px rgb(255, 255, 255, 0.5),
 -2px -2px 50px rgba(255, 255, 255, 0.5);
}



.crypto-karta-text-span {
  text-align: end;
  font-size: 1.6rem;
  opacity: 0.7;
  font-family: 'Inter', sans-serif;
  margin-top: -2.5rem;
  color: #fffffff0;
text-shadow: 
2px 2px 50px rgb(255, 255, 255, 0.5),
 -2px -2px 50px rgba(255, 255, 255, 0.5);
}

.crypto-karta-text-profit {
color: #ffffff;
font-size: 1.3rem;

font-family: 'Inter', sans-serif;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
 opacity: 0.7;
 display: inline;
}


.crypto-card {
  
  width: 85%;
  background: #0f0f0f;
  color: white;
  padding:  30px;
  border-radius: 20px;
  border: 1px solid #1f1f1f;
  font-family: Arial, sans-serif;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coin {
  display: flex;
  align-items: center;
  gap: 7px;
}

.coin-icon {
  width: 32px;
  height: 32px;
  background: #f7931a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.currency {
  opacity: 0.8;
}

.balance h1 {
  margin: 5px 0 5px;
  font-size: 36px;
}

.balance p {
  opacity: 0.6;
}

.profit {
  margin-top: 10px;
}

.profit-values {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.profit-money,
.profit-percent {
  color: #00c853;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.crypto-card button {
  flex: 1;
  padding: 10px 0;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Тонкая обводка как в макете */
.btn-outline {
  background: transparent;
  border: 1px solid #f7931a;
  color: white;
}

.btn-outline:hover {
  background: #f7931a;
}

.btn-buy {
  background: #f7931a;
  border: none;
  color: white;
}

.btn-send {
  background: #ff6f6f;
  border: none;
  color: white;
}



@media (min-width: 560px) { 

  .lend-div{
margin-top: 50%;
  }
}


@media (min-width: 768px) { 
   .lend{
 gap: 10rem;  
  }
  .lend-div{
margin-top: 25%;
  }
.home-activ-goal-parent{
  margin-top: 1rem;
}
.home-out-activ-history-parent{
margin-top: 1rem;
}
.Karta-home-div{
 padding-top: 3rem;
padding-bottom: 1.2rem;

 margin-bottom: -0rem;
}
.home-text-mr-parent{
  margin-top: 2rem;
}
}

body {
     /* background-color: #121212;
      */
      background-color: #000000;
     /* background-color: #161618;  */
     /* background-color: 1c1c1c;     */
     /* overflow: hidden; */
  
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; /* Chrome, Safari */
  -ms-user-select: none;     /* старый Edge */
  user-select: none;
  /* box-shadow: none !important; */
  /* text-shadow: none !important; */
}

html, body {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden;  */
 }